<p>Hey {{ name }},</p>
<p>Votre code de confirmation se trouve ci-dessous, saisissez-le dans la fenêtre ouverte de votre navigateur et nous vous aiderons à vous connecter.</p>
<p>
    <h3>{{ code }}</h3>
</p>

<p>Si vous n’avez pas demandé à recevoir cet e-mail, vous pouvez simplement l’ignorer.</p>